.posicion_next{
 margin-top: 40px;
 margin-left: 250px;
 height: 2em;
 background-color: #A93A3A;
 color: white;
 border: none;
}
.save_btn {
    width: 4em;
    height: 2.5em;
    background-color: #A93A3A;
    color: white;
    border: none;
}

.input{
    margin-left:25%;
    height: 2em;
    width: 210px;
    font-size: 14px;
}
.welcome{
margin: 0 auto;
width: 30em;
}
.contiene{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.greet {
    margin-top: 0px;
    padding-top: 2em;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center;
    color:white;
}