.posicion_btn{
 margin-top: 40px;
 margin-left: 650px;
}

.contenedor{
background-color: pink;
height: 900px;
}

.container{
display: flex;
justify-content: center;
}
.input_position{
margin-left: 550px;
}
.welcome{
margin-left: 420px;
}