.title-values{
    color: white;
    margin-left: 20px;
    padding-top: 30px;
}

.triforce {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 750px;
}
.header {
    color: white;
    height: auto;
    text-align: center;
    line-height: 3em;
    margin-bottom: 1em;
}
.header > h2 {
    font-size: 2rem;
}
.tagline {
    font-size: 20px;
}
.description {
    font-size: 25px;
    color: yellowgreen;
}
.TabsBar {
    width: 30em;
}
.TabPanel {
    display: flex;
    justify-content: center;
}
.image-size {
    height: 18em;
    width: auto;
}





