.TabsBar {
    width: 30em;
}
.image-size{
    width: 20em;
    text-align: center;
}
.triforce {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}