.group{
    background-color: black;
    height: 700px;
}
.card-title{
    color: yellowgreen;
}
.card-description{
    color: white;
}
.caja{
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.titulo{
    text-align: center;
    font-size: 2rem;
    color: white;
    padding-top: 60px;
}

.image-growing{
    width: 500px;
}
.accordion{
    width:40%;
    max-width:768px;
    margin-top: 80px;
    padding:25px;
    color:#A93A3A
}
.accordion .card{
    margin: 15px;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.2)
}
.accordion .card .card-title {
    position: relative;
    font-size: 20px;
    padding-right: 30px;

    transition: all 0.4s ease;
}
.accordion .card .card-title::after {
    content: '';
    position: absolute;
    right: 0px;
    top:50%;
    /* transform: translateY(50%); */
    width:30px;
    height:30px;
    
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}
.accordion .card .card-description {
    opacity: 0;
    max-height:0;
    overflow-y: hidden;
    transition: all 0.4s ease;
    font-size: 20px;
}
.accordion .card.open .card-title {
    margin-bottom: 15px ;
}

/* .accordion .card.open .card-title::after {
    transform: translateY(-50%) rotate(180deg);
} */

/* .accordion .card.open .card-description {
    max-height:1000px;
    opacity:1;
}  */

.buttons{
display: flex;
justify-content: center;
background-color: black;
}